In [1]:
import pandas as pd

In [14]:
url = 'https://raw.githubusercontent.com/anagovbr/dados-estacoes-hidro/main/dados'
station_id = '10100000'

In [2]:
urls = 'https://raw.githubusercontent.com/anagovbr/hidro-dados-estacoes-convencionais/main/fluviometricas/10042000/10042000_cotas.csv'

In [12]:
url_station = urls #f'{url}/{station_id}.csv'
df = pd.read_csv(url_station,
                 delimiter=';',
                 decimal=',',
                 thousands='.',
                 na_values=[-99999, '//////', '/////'],
                 parse_dates=['Data'],
                 index_col=['Data'],
                 dayfirst=True
                 )
df.head()

/tmp/ipykernel_33782/3575875243.py:2: UserWarning: Parsing dates in MM/DD/YYYY format when dayfirst=True was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df = pd.read_csv(url_station,

,EstacaoCodigo,NivelConsistencia,MediaDiaria,TipoMedicaoCotas,Maxima,Minima,Media,DiaMaxima,DiaMinima,MaximaStatus,...,Cota22Status,Cota23Status,Cota24Status,Cota25Status,Cota26Status,Cota27Status,Cota28Status,Cota29Status,Cota30Status,Cota31Status
Data,,,,,,,,,,,,,,,,,,,,,
2007-09-01,10042000,1,1,1,1110.0,460.0,6873333.0,26.0,18.0,1,...,0,0,0,0,0,0,0,0,0,0
2007-10-01,10042000,1,1,1,3010.0,350.0,15329033.0,24.0,6.0,1,...,0,0,0,0,0,0,0,0,0,0
2007-11-01,10042000,1,1,1,3690.0,1840.0,26613333.0,23.0,4.0,1,...,0,0,0,0,0,0,0,0,0,0
2007-12-01,10042000,1,1,1,5100.0,1790.0,31270969.0,18.0,10.0,1,...,0,0,0,0,0,0,0,0,0,0
2008-01-01,10042000,1,1,1,5090.0,2900.0,36135483.0,30.0,27.0,1,...,0,0,0,0,0,0,0,0,0,0

In [5]:
df.columns

Index(['EstacaoCodigo', 'NivelConsistencia', 'Data', 'MediaDiaria',
       'TipoMedicaoCotas', 'Maxima', 'Minima', 'Media', 'DiaMaxima',
       'DiaMinima', 'MaximaStatus', 'MinimaStatus', 'MediaStatus',
       'MediaAnual', 'MediaAnualStatus', 'Cota01', 'Cota02', 'Cota03',
       'Cota04', 'Cota05', 'Cota06', 'Cota07', 'Cota08', 'Cota09', 'Cota10',
       'Cota11', 'Cota12', 'Cota13', 'Cota14', 'Cota15', 'Cota16', 'Cota17',
       'Cota18', 'Cota19', 'Cota20', 'Cota21', 'Cota22', 'Cota23', 'Cota24',
       'Cota25', 'Cota26', 'Cota27', 'Cota28', 'Cota29', 'Cota30', 'Cota31',
       'Cota01Status', 'Cota02Status', 'Cota03Status', 'Cota04Status',
       'Cota05Status', 'Cota06Status', 'Cota07Status', 'Cota08Status',
       'Cota09Status', 'Cota10Status', 'Cota11Status', 'Cota12Status',
       'Cota13Status', 'Cota14Status', 'Cota15Status', 'Cota16Status',
       'Cota17Status', 'Cota18Status', 'Cota19Status', 'Cota20Status',
       'Cota21Status', 'Cota22Status', 'Cota23Status', 'Cota24Status',
       'Cota25Status', 'Cota26Status', 'Cota27Status', 'Cota28Status',
       'Cota29Status', 'Cota30Status', 'Cota31Status'],
      dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1208 entries, 2023-10-20 11:15:00 to 2023-10-10 13:15:00
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Nivel_Sensor(cm)           604 non-null    float64
 1   Nivel_Display(cm)          108 non-null    float64
 2   Chuva(mm)                  0 non-null      float64
 3   Chuva_Acum_Datalogger(mm)  1208 non-null   int64
 4   Temp_H2O                   0 non-null      float64
 5   Press_Atm(mb)              1208 non-null   int64
 6   Temp_Int(C)                1208 non-null   int64
 7   Bateria(V)                 1208 non-null   int64
 8   OffSet(cm)                 1208 non-null   int64
dtypes: float64(4), int64(5)
memory usage: 94.4 KB

In [ ]:
inventario = pd.read_csv('https://raw.githubusercontent.com/anagovbr/dados-estacoes-hidro/main/Inventario_EstacoesHidrologicas_04082023.csv',
                         delimiter=';',
                         decimal=',',
                         thousands='.')

In [29]:
estacos_plu = inventario.query('TipoEstacao == "PLU"')